<html lang="es_ES">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="http://localhost:4000/img/(!---Generator--Adobe-Illustrator-17.1 - copia.png">
<title>En México Ser Inocente No Basta</title>
<style>
	@import url(../css/style.css);
</style>
</head>
<body>
<div id="fb-root"></div>
<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=1423176551273301";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
	if(!d.getElementById(id)){js=d.createElement(s);js.id=id;
	js.src="https://platform.twitter.com/widgets.js";
	fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<header>
<a href="/"><img src="http://localhost:4000/img/logo---emsinb.png" /></a>
</header>
<div class="content">
	<div class="menu-blog">
		<a href="/"><button class="btn btn-info">Inicio</button></a>
		<a><button class="btn btn-default" disabled>+ Añadir Entrada</button></a>
		<button class="btn btn-default" disabled>Guía de Protección</button>
		<button class="btn btn-default" disabled>Directorio</button>
		<button class="btn btn-default" disabled>Vota x Basta de Tortura</button>
	</div>
	<div class="blog">
		{{ content }}
	</div>
	<div class="results">
		<div class="search-title">Entradas Recientes</div>
			<div class="resultados">
				<ul class="posts">
				{% for post in site.posts %}
				  <li><span>{{ post.date | date_to_string }}</span> → <a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
			</div>
	</div>
</div>
<footer />
</body>
</html>